<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Se a requisição não é para um arquivo existente
    RewriteCond %{REQUEST_FILENAME} !-f
    # E não é para um diretório existente
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redireciona para index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

